html{
    font-family: sans-serif,fantasy;
    margin-left: -8px;
    margin-top: -10px;
}
.header{
    position: fixed;
    background-color: #000;
    color: #FFF;
    height: 100px;
    text-align: center;
    width: 100%;
	z-index: 99;
}
.navbar ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-left: 380px;
}

.navbar li{
    width:100px;
    height:50px;
    float:left;
    color:#191919;
    text-align:center;
    overflow:hidden;
}

.navbar a{
    color:#FFF;
    text-decoration:none;
}

.navbar p{
    padding:0px 12px;
}

.navbar subtext{
    padding-top:13px;
    margin-top: 10px;
}

/*Menu Color Classes*/
.black{background:#000;}

.logo{
    height: 30%;
}
.tit{
    position: relative;
    top: 12px;
}
.container{
    padding-top: 100px;
}
footer{
    background-color: #000;
    color: #FFF;
    height: 50px;
    text-align: center;
    width: 100%;
}
.kaki{
    padding-top: 10px;
}
.product { 
	background: url(../images/product-bg.png) no-repeat 0 0; width: 202px; height: 252px; padding: 14px 14px 0 16px; display: block; font-size: 14px; line-height: 18px; color: #2f3032; font-family: georgia, serif; 
}
.product img { 
	padding: 0 0 10px 0; position: relative; margin-left: -2px; 
}
.product:hover,
.product.hover { 
	background: url(../images/product-hover.png) no-repeat 0 0; text-decoration: none; 
}	
.thumb{
	width: 170px;
	height: 160px;
	left: 17px;
}
.font-nama{
	font-family: rockwell;
	size: 2;
	color: black;
	margin-top: -10px;
	margin-left: 20px;
}
.font-desc{
	font-family: rockwell;
	size: 2;
	color: black;
	margin-top: -10px;
	margin-left: -5px;
}
.header-member{
	background-repeat:repeat-y;
	height: 70px;
	width: 1330px;
	margin-left: 20px;
	margin-top: 10px;
}
.judul{
	font-size: 30px;
	font-family: Rockwell;
	Color: black;
	position: absolute;
	left: 420px;
	top: 125px;
}
.row { 
	padding: 20px 0 23px 0; background: url(images/border.png) repeat-x 0 bottom; width: auto; overflow: hidden; 
}
.row ul { 
	width: 1317px; display: block; position: relative; 
}
.row ul li { 
	float: left; display: inline; width: 232px; height: 266px; padding: 0 19px 0 0; .product { 
	background: url(../images/product-bg.png) no-repeat 0 0; width: 202px; height: 252px; padding: 14px 14px 0 16px; display: block; font-size: 14px; line-height: 18px; color: #2f3032; font-family: georgia, serif; 
}
.product img { 
	padding: 0 0 10px 0; position: relative; margin-left: -2px; 
}
.product:hover,
.product.hover { 
	background: url(../images/product-hover.png) no-repeat 0 0; text-decoration: none; 
}	
.thumb{
	width: 170px;
	height: 160px;
	left: 17px;
}
.font-nama{
	font-family: rockwell;
	size: 2;
	color: black;
	margin-top: -10px;
	margin-left: 20px;
}
.font-desc{
	font-family: rockwell;
	size: 2;
	color: black;
	margin-top: -10px;
	margin-left: -5px;
}
.header-member{
	background-repeat:repeat-y;
	height: 70px;
	width: 1330px;
	margin-left: 20px;
	margin-top: 10px;
}
.judul{
	font-size: 30px;
	font-family: Rockwell;
	Color: black;
	position: absolute;
	left: 420px;
	top: 125px;
}
.row { 
	padding: 20px 0 23px 0; background: url(images/border.png) repeat-x 0 bottom; width: auto; overflow: hidden; 
}
.row ul { 
	width: 1317px; display: block; position: relative; 
}
.row ul li { 
	float: left; display: inline; width: 232px; height: 266px; padding: 0 19px 0 0; 
}